#about *:focus {
  outline: none;
}

#about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; /*fra venstre til hoyre*/
  align-items: center; /*fra top til bottom*/
  width: 1330px;
  height: 100vh;
  margin: auto;
  border: 2px solid black;
  padding: 50px;
}

.mailBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* border: tomato 2px solid; */
}

#toFirestoreForm {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border: turquoise 2px solid; */
  width: 900px;
  height: 600px;
  padding: 100px 0;
  z-index: 0;
  transform: matrix(0.9962, -0.08716, 0.08716, 0.9962, 0, 0);
}
#toFirestoreForm > * {
  width: 80%;
  border: none;
  border-bottom: rgb(109, 109, 109) 2px solid;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  color: var(--htext-color);
  font-weight: 700;
}

.navnBoks,
.emailBoks {
  height: 15%;
  padding-bottom: 20px;
}

.tekstBoks {
  height: 200px;
  resize: none;
}

::placeholder {
  color: var(--htext-color);
}

.btnSend {
  position: absolute;
  background: url(../assets/svg/buttonFly.png) no-repeat;
  width: 150px;
  height: 100px;
  border: none;
  cursor: pointer;
  z-index: 10;
  bottom: 60px;
  right: 0;
  transform: rotate(353deg);
}

#about h3 {
  /* border: yellowgreen 2px solid; */
  align-self: flex-start;
  letter-spacing: 5px;
}
#about h3:first-child {
  position: absolute;
  top: 330px;
}

#about h3:last-child {
  position: absolute;
  top: 1000px;
}
