.bgFigur {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.figurV {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-left: 400px;
}
.figurH {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-right: 200px;
}
.V1 {
  animation: rotation 50s infinite linear;
  position: absolute;
  height: 15vh;
  overflow: hidden;
  bottom: 80%;
  left: 10%;
}
.V2 {
  animation: rotation 50s infinite linear;
  position: absolute;
  overflow: hidden;
  bottom: 55%;
  left: 3%;
  height: 5vh;
}
.V3 {
  animation: rotation 50s infinite linear;
  position: absolute;
  overflow: hidden;
  bottom: 35%;
  left: 10%;
}
.V4 {
  animation: rotation 50s infinite linear;
  position: absolute;
  overflow: hidden;
  bottom: 10%;
  left: 5%;
  height: 10vh;
}

.H1 {
  animation: rotation 50s infinite linear;
  position: absolute;
  overflow: hidden;
  bottom: 65%;
  right: 8%;
}
.H2 {
  animation: rotation 50s infinite linear;
  position: absolute;
  overflow: hidden;
  bottom: 15%;
  right: -1%;
  height: 10vh;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
