@import "home.css";
@import "story.css";

:root {
  --primary: #f1f3f6;
}

body {
  background-color: var(--primary);
}

h1 {
  letter-spacing: 20px;
  text-indent: 20px;
  font-size: 5rem;
  font-weight: 100;
  color: #575757;
}
