@import "story.css";
@import "home.css";
@import "bioLuna.css";
@import "bioLudo.css";
@import "timeline.css";
@import "about.css";
@import "burgerMenu.css";
@import "bgvector.css";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; /*unngaar padding og margin dytter element og endrer storrelse*/
}

:root {
  --primary-color: #89bbfe;
  --secondary-color: #ff9999;
  --tertiary-color: #ffcc99;
  --bg-color: #f1f3f6;
  --btn-color: #ff70a6;
  --overlay-color: rgba(241, 243, 246, 0.9);
  --htext-color: #302727;
  --menu-speed: 0.75s;
}

h1 {
  font-family: "Amatic SC", cursive;
  font-size: 100px;
}

h2 {
  font-family: "Amatic SC", cursive;
  font-size: 60px;
  font-weight: 100;
}

h3 {
  font-family: "Amatic SC", cursive;
  font-size: 50px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  border: 3px orange solid;
  width: 1530px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 19;
  padding-top: 20px;
}

button:focus {
  outline: none;
}

body {
  background-color: var(--bg-color);
}

.container {
  display: flex;
  justify-content: center; /*fra venstre til hoyre*/
  align-items: center; /*fra top til bottom*/
  width: 1530px;
  height: 100vh;
  margin: auto;
  border: blue 2px solid;
}

footer {
  display: flex;
  justify-content: center;
  position: fixed;
  border: 3px orange solid;
  width: 1530px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.paw {
  width: 100px;
  height: 100px;
  border-radius: 106px;
  background: #f1f3f6;
  box-shadow: 10px 10px 27px #d4d6d8, -10px -10px 27px #ffffff;
  border: none;
  cursor: pointer;
}
