#about *:focus {
  outline: none;
}

#about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; /*fra venstre til hoyre*/
  align-items: center; /*fra top til bottom*/
  width: 100%;
  height: 80%;
  margin: auto;
  padding: 30px;
  /* border: chartreuse 2px solid; */
}

.mailBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 100px;
  /* border: tomato 2px solid; */
}

#toFirestoreForm {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border: turquoise 2px solid; */
  width: 900px;
  height: 600px;
  padding: 100px 0;
  z-index: 0;
  transform: matrix(0.9962, -0.08716, 0.08716, 0.9962, 0, 0);
}

.navnBoks,
.emailBoks {
  position: relative;
  height: 15%;
  padding-bottom: 20px;
  width: 80%;
  border: none;
  border-bottom: rgb(110, 110, 110) 2px solid;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  color: var(--htext-color);
  font-weight: 700;
}

.focus-border1 {
  position: absolute;
  height: 4px;
  transition: 0.4s;
  bottom: 426px;
  width: 10%;
}

.focus-border2 {
  position: absolute;
  height: 4px;
  transition: 0.4s;
  bottom: 339px;
  width: 10%;
}

.navnBoks:focus ~ .focus-border1 {
  width: 80%;
  transition: 0.4s;
  background-color: #3399ff;
}

.emailBoks:focus ~ .focus-border2 {
  width: 80%;
  transition: 0.4s;
  background-color: #3399ff;
}

.tekstBoks {
  position: relative;
  height: 200px;
  resize: none;
  width: 80%;
  border: none;
  border-bottom: rgb(110, 110, 110) 2px solid;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  color: var(--htext-color);
  font-weight: 700;
}

.focus-border3 {
  position: absolute;
  height: 4px;
  transition: 0.4s;
  bottom: 112px;
  width: 10%;
}
.tekstBoks:focus ~ .focus-border3 {
  width: 80%;
  transition: 0.4s;
  background-color: #3399ff;
}

::placeholder {
  color: var(--htext-color);
}

.btnSend {
  position: absolute;
  background: url(../assets/svg/buttonFly.png) no-repeat;
  width: 150px;
  height: 100px;
  border: none;
  cursor: pointer;
  z-index: 10;
  bottom: 130px;
  right: 50px;
  transform: rotate(353deg);
}

#about h3 {
  /* border: yellowgreen 2px solid; */
  align-self: flex-start;
  letter-spacing: 5px;
}
#about h3:first-child {
  position: absolute;
  top: 110px;
}

#about h3:last-child {
  position: absolute;
  top: 850px;
}

#pathTest {
  position: absolute;
  bottom: 70px;
  right: -100px;
}

.flyAnimation {
  offset-path: path(
    "M919.812 310.473C1054.47 394.488 1051.27 677.636 839.353 664.037C625.769 650.331 543.92 847.833 347.533 794.358C252.788 768.56 143.553 677.636 107.289 653.839C19.4441 596.191 5.30006 466.857 5.30006 466.857C5.30006 466.857 -31.9592 368.445 107.289 287.809C289.285 182.418 207.013 103.094 407.593 18.1022C592.513 -60.2538 663.704 150.689 919.812 310.473Z"
  );
  animation: fly 3s linear;
}

@keyframes fly {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.testPath {
  position: absolute;
}
