#story {
  position: relative;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr); /*3格4线*/
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 70%;
  padding: 10px;
  /* border: 12px solid rgb(156, 8, 8); */
}

.cover {
  position: absolute;
  width: 650px;
  height: 550px;
  border: 2px solid black;
  background: rgb(230, 230, 230);
  top: 0px;
  left: 80px;
  opacity: 0;
  /* animation: moveDown 0.5s ease-in; */
}

.coverAnim {
  animation: moveDown 0.5s 0.5s ease-in forwards;
}

.storyBilde {
  position: relative;
  grid-column: 1 / span 2; /*从第一格开始过去占两格*/
  grid-row: 1 / span 2;
}

.bildeBg {
  position: absolute;
  width: 650px;
  height: 550px;

  top: 40px;
  left: 35px;
  grid-column: 1 / span 2; /*从第一格开始过去占两格*/
  grid-row: 1 / span 2;
  background-color: var(--primary-color);
  z-index: -1;
  opacity: 0;
}

.bildeBgAnim {
  animation: moveUp 0.5s 0.5s ease-in forwards;
}

.storyTittel {
  position: absolute;
  grid-column: 2 / span 2;
  grid-row: 1 / 2; /*从第一条线到第二条线*/
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  right: 150px;
  bottom: 100px;
}

.storyTittel h2 {
  font-size: 3rem;
  letter-spacing: 15px;
  padding: 8px;
}

.textColor {
  background-color: var(--secondary-color);
  padding-left: 15px;
}

.stories {
  position: absolute;
  grid-column: 3 / span 1;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  bottom: 70px;
  right: -340px;
  width: 500px;
  height: 250px;
  padding: 10px;
  background-color: var(--tertiary-color);
  z-index: 1;
}

@media screen and (max-width: 1440px) {
  .cover {
    width: 630px;
    height: 530px;
    top: 20px;
  }

  .bildeBg {
    width: 630px;
    height: 530px;
    top: 60px;
  }

  .storyTittel {
    bottom: 100px;
    right: 60px;
  }
  .stories {
    bottom: 70px;
    right: -350px;
    width: 450px;
    height: 200px;
  }
}

@media screen and (max-width: 1200px) {
  .storyTittel h2 {
    font-size: 2rem;
    letter-spacing: 10px;
    padding: 4px;
  }

  .storyTittel {
    right: 120px;
    bottom: 180px;
  }

  .stories p {
    font-size: 0.7rem;
  }
  .stories {
    bottom: 150px;
    right: -300px;
    width: 350px;
    height: 150px;
  }
  .cover {
    width: 550px;
    height: 450px;
    top: 20px;
  }

  .bildeBg {
    width: 550px;
    height: 450px;
    top: 50px;
  }
}

/*pad*/
@media screen and (max-width: 768px) {
  .storyTittel h2 {
    font-size: 2rem;
    letter-spacing: 5px;
  }

  .storyTittel {
    right: 20px;
    bottom: 210px;
  }

  .stories p {
    font-size: 0.7rem;
  }
  .stories {
    top: 120px;
    right: -200px;
    width: 150px;
    height: 280px;
  }

  .cover {
    width: 400px;
    height: 350px;
    top: 20px;
  }

  .bildeBg {
    width: 400px;
    height: 350px;
    top: 50px;
  }
}

/*phone*/
@media screen and (max-width: 480px) {
  .cover {
    width: 280px;
    height: 280px;
    top: 40px;
    left: 40px;
  }

  .bildeBg {
    width: 280px;
    height: 280px;
    top: 70px;
    left: 10px;
  }

  .storyTittel {
    width: 300px;
    top: 20px;
    left: -115px;
  }

  .storyTittel h2 {
    font-size: 1.2rem;
    padding: 2px;
  }

  .stories p {
    font-size: 0.5rem;
  }

  .stories {
    top: 370px;
    left: 40px;
    width: 240px;
    height: 100px;
  }
}
