@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@700&display=swap");

@import "story.css";
@import "home.css";
@import "bioLuna.css";
@import "bioLudo.css";
@import "timeline.css";
@import "about.css";
@import "burgerMenu.css";
@import "bgvector.css";
@import "line.css";
@import "paw.css";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; /*unngaar padding og margin dytter element og endrer storrelse*/
}

:root {
  --primary-color: #89bbfe;
  --secondary-color: #ff9999;
  --tertiary-color: #ffcc99;
  --bg-color: #f1f3f6;
  --btn-color: #ff70a6;
  --overlay-color: rgba(241, 243, 246, 0.9);
  --htext-color: #302727;
  --menu-speed: 0.75s;
}

h1 {
  font-family: "Amatic SC", cursive;
  font-size: 7rem;
  color: var(--htext-color);
}

h2 {
  font-family: "Amatic SC", cursive;
  font-size: 4rem;
  font-weight: 100;
  color: var(--htext-color);
}

h3 {
  font-family: "Amatic SC", cursive;
  font-size: 50px;
  color: var(--htext-color);
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  /* border: 3px orange solid; */
  width: 100vw;
  max-width: 1530px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 19;
  padding: 20px;
}

button:focus {
  outline: none;
}

body {
  background-color: var(--bg-color);
}

.container {
  position: relative;
  display: flex;
  justify-content: center; /*fra venstre til hoyre*/
  align-items: center; /*fra top til bottom*/
  width: 100vw;
  max-width: 1530px;
  height: 100vh;
  margin: auto;
  /* border: blue 8px solid; */
}

.sideInfo {
  position: absolute;
  top: 40px;
  left: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.strek {
  border: rgb(0, 0, 0) 1px solid;
  width: 80%;
}

.sideInfo h3 {
  letter-spacing: 12px;
  padding-left: 12px;
  font-size: 35px;
}

/* footer {
  display: flex;
  justify-content: center;
  position: fixed;
  border: 3px orange solid;
  width: 100vw;
  max-width: 1530px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  padding: 20px;
} */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-800px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(800px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(800px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*pad*/
@media screen and (max-width: 768px) {
  .menu-wrap .toggler {
    width: 60px;
    height: 60px;
  }
  .burger {
    width: 60px;
    height: 60px;
    justify-content: space-around;
  }

  .burger > div {
    height: 7px;
  }

  .burger > div::before,
  .burger > div::after {
    height: 7px;
    top: -12px;
  }

  .burger > div::after {
    top: 12px;
  }

  .menu li {
    letter-spacing: 15px;
  }

  .pawButton {
    width: 60px;
    height: 60px;
  }
}
