#timeline {
  width: 100%;
  height: 80%;
  margin: auto;
  overflow: hidden;
}

.glassWrapper {
  position: relative;
  margin-top: 90px;
  padding-right: 250px;
  background: rgba(137, 188, 254, 0.157);
  box-shadow: 0 5px 20px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  align-items: center;

  transform: rotate(-90deg) translate3d(0, -100vh, 0);
  transform-origin: right top;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 55%;
  height: 195%;
  perspective: 1px;
  transform-style: preserve-3d;
}
.grabbing {
  cursor: grabbing;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

.timeTraad {
  transform: rotate(90deg) scale(9) translateX(300px) translateY(0vh);
}

.t1 h2 {
  transform: rotate(90deg) translateX(200px) translateY(8vh);
}

.t2 h2 {
  transform: rotate(90deg) translateX(50px) translateY(-27vh);
}

.t3 h2 {
  transform: rotate(90deg) translateX(-280px) translateY(-12vh);
}

.t4 h2 {
  transform: rotate(90deg) translateX(-450px) translateY(15vh);
}

.t5 h2 {
  transform: rotate(90deg) translateX(-800px) translateY(-23vh);
}

.t6 h2 {
  transform: rotate(90deg) translateX(-120px) translateY(10vh);
}

.t7 h2 {
  transform: rotate(90deg) translateX(-200px) translateY(-25vh);
}

.slower {
  transform: rotate(80deg) translateZ(-0.3px) scale(1.1) translateX(100%)
    translateY(-10vh);
}
.slower1 {
  transform: rotate(87deg) translateZ(0px) scale(0.75) translateX(70%)
    translateY(-18vh);
}
.slower2 {
  transform: rotate(95deg) translateZ(-0.1px) scale(0.9) translateX(-20%)
    translateY(-8vh);
}

.slower3 {
  transform: rotate(92deg) translateZ(-0.2px) scale(1) translateX(0%)
    translateY(-12vh);
}

.slower4 {
  transform: rotate(92deg) translateZ(-0.2px) scale(0.9) translateX(0%)
    translateY(0vh);
}

.faster {
  transform: rotate(93deg) translateZ(0.1px) scale(0.65) translateX(125%)
    translateY(-12vh);
}

.faster1 {
  transform: rotate(90deg) translateZ(0.3px) scale(0.45) translateX(-45%)
    translateY(6vh);
}
.faster2 {
  transform: rotate(85deg) translateZ(0.1px) scale(0.65) translateX(-50%)
    translateY(-5vh);
}

.faster3 {
  transform: rotate(85deg) translateZ(0.1px) scale(0.65) translateX(-40%)
    translateY(5vh);
}

#timeline img {
  max-width: 45vh;
  max-height: 40vh;
}
