#timeline {
  width: 100%;
  height: 70%;
  /* overflow: hidden; */
}

.glassWrapper {
  position: relative;
  margin: auto;
  padding-right: 250px; /* Push content down */
  background: rgba(203, 223, 250, 0.157);
  box-shadow: 0 5px 20px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.534);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vh; /* Height */
  height: 1450px; /* Width */
  transform: rotate(-90deg) translateX(390px); /* Position up/down with translateX */
  overflow: hidden;
  perspective: 1px;
  transform-style: preserve-3d;
}
.grabbing {
  cursor: grabbing;
}

#timeline h2 {
  font-size: 3rem;
}

.timeTraad {
  transform: rotate(90deg) scale(9) translateX(205px) translateY(0vh);
}

.t1 h2 {
  transform: rotate(90deg) translateX(-150px) translateY(8vh);
}

.t1Copy h2 {
  transform: rotate(90deg) translateX(-150px) translateY(8vh);
  display: none;
}

.t2 h2 {
  transform: rotate(90deg) translateX(-200px) translateY(-29vh);
}

.t3 h2 {
  transform: rotate(90deg) translateX(-320px) translateY(-16vh);
}

.t4 h2 {
  transform: rotate(90deg) translateX(-450px) translateY(14vh);
}

.t5 h2 {
  transform: rotate(90deg) translateX(-800px) translateY(-23vh);
}

.t6 h2 {
  transform: rotate(90deg) translateX(150px) translateY(10vh);
}

.slower {
  transform: rotate(80deg) translateZ(-0.3px) scale(1.1) translateX(-20%)
    translateY(-20vh);
}
.slower1 {
  transform: rotate(87deg) translateZ(0px) scale(0.75) translateX(0%)
    translateY(-18vh);
}
.slower2 {
  transform: rotate(95deg) translateZ(-0.1px) scale(0.9) translateX(-20%)
    translateY(-20vh);
}

.slower3 {
  transform: rotate(92deg) translateZ(-0.2px) scale(1) translateX(40%)
    translateY(-12vh);
}

.faster {
  transform: rotate(93deg) translateZ(0.1px) scale(0.65) translateX(5%)
    translateY(-12vh);
}

.faster1 {
  transform: rotate(90deg) translateZ(0.3px) scale(0.45) translateX(-45%)
    translateY(-3vh);
}
.faster2 {
  transform: rotate(85deg) translateZ(0.1px) scale(0.65) translateX(-50%)
    translateY(-5vh);
}

.faster3 {
  transform: rotate(85deg) translateZ(0.1px) scale(0.65) translateX(50%)
    translateY(0vh);
}

#timeline img {
  max-width: 45vh;
  max-height: 40vh;
}

#rightChevron {
  position: absolute;
  bottom: 50vh;
  right: 20px;
  font-size: 2rem;
  z-index: 1;
  color: red;
  display: none;
}

#leftChevron {
  position: absolute;
  top: 50vh;
  left: 20px;
  font-size: 2rem;
  color: red;
  z-index: 1;
  display: none;
}

@media screen and (max-width: 1440px) {
  .glassWrapper {
    height: 1350px;
    transform: rotate(-90deg) translateX(380px);
  }
}

@media screen and (max-width: 1200px) {
  .glassWrapper {
    height: 1100px;
    transform: rotate(-90deg) translateX(250px);
  }

  #timeline h2 {
    font-size: 2.5rem;
  }

  #timeline img {
    max-width: 40vh;
    max-height: 35vh;
  }

  .timeTraad {
    transform: rotate(90deg) scale(9) translateX(180px) translateY(0vh);
  }

  .t5 h2 {
    transform: rotate(90deg) translateX(-700px) translateY(-23vh);
  }
}

@media screen and (max-width: 1024px) {
  .glassWrapper {
    height: 950px;
    transform: rotate(-90deg) translateX(170px);
  }

  .t4 h2 {
    transform: rotate(90deg) translateX(-400px) translateY(14vh);
  }

  .faster1 {
    transform: rotate(90deg) translateZ(0.3px) scale(0.45) translateX(-45%)
      translateY(0vh);
  }

  .slower2 {
    transform: rotate(95deg) translateZ(-0.1px) scale(0.9) translateX(-40%)
      translateY(-20vh);
  }
}

@media screen and (max-width: 768px) {
  .glassWrapper {
    height: 670px;
    transform: rotate(-90deg) translateX(50px);
    overflow-y: scroll;
  }

  #rightChevron {
    bottom: 50vh;
    right: 20px;
    color: rgb(87, 87, 87);
    display: block;
  }

  #leftChevron {
    top: 47vh;
    left: 20px;
    color: rgb(87, 87, 87);
    display: block;
  }

  #timeline ::-webkit-scrollbar {
    background: transparent;
    height: 10px;
    overflow: visible;
    width: 10px;
  }

  #timeline ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
  }

  #timeline ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }

  #timeline ::-webkit-scrollbar-corner {
    background: transparent;
  }

  .t1 {
    display: none;
  }

  #timeline h2 {
    font-size: 1.9rem;
  }

  .timeTraad {
    transform: rotate(90deg) scale(9) translateX(145px) translateY(-0.5vh);
  }

  .t1Copy h2 {
    transform: rotate(90deg) translateX(-170px) translateY(5vh);
    display: block;
  }

  .t2 h2 {
    transform: rotate(90deg) translateX(-190px) translateY(5vh);
  }

  .t3 h2 {
    transform: rotate(90deg) translateX(-520px) translateY(5vh);
  }

  .t4 h2 {
    transform: rotate(90deg) translateX(-540px) translateY(5vh);
  }

  .t5 h2 {
    transform: rotate(90deg) translateX(-860px) translateY(5vh);
  }

  .t6 h2 {
    transform: rotate(90deg) translateX(-850px) translateY(5vh);
  }

  .slower {
    transform: rotate(90deg) translateZ(0px) scale(0.9) translateX(0%)
      translateY(-16vh);
  }

  .slower1 {
    transform: rotate(90deg) translateZ(0px) scale(0.9) translateX(-20%)
      translateY(-16vh);
  }

  .slower2 {
    transform: rotate(90deg) translateZ(0px) scale(0.9) translateX(-20%)
      translateY(-16vh);
  }
  .slower3 {
    transform: rotate(90deg) translateZ(0px) scale(0.9) translateX(-20%)
      translateY(-16vh);
  }

  .faster {
    transform: rotate(90deg) translateZ(0px) scale(0.9) translateX(-10%)
      translateY(-16vh);
  }

  .faster1 {
    transform: rotate(90deg) translateZ(0px) scale(0.9) translateX(-10%)
      translateY(-16vh);
  }
  .faster2 {
    transform: rotate(90deg) translateZ(0px) scale(0.9) translateX(-20%)
      translateY(-16vh);
  }

  .faster3 {
    transform: rotate(90deg) translateZ(0px) scale(0.9) translateX(-20%)
      translateY(-16vh);
  }
}

@media screen and (max-width: 480px) {
  .glassWrapper {
    height: 300px;
    transform: rotate(-90deg) translateX(-80px);
    overflow-y: scroll;
  }

  #rightChevron {
    bottom: 48vh;
    right: 20px;
  }

  #leftChevron {
    top: 47vh;
    left: 20px;
  }

  #timeline h2 {
    font-size: 1.5rem;
  }

  .timeTraad {
    transform: rotate(90deg) scale(9) translateX(125px) translateY(-1vh);
  }

  .t1Copy h2 {
    transform: rotate(90deg) translateX(-130px) translateY(0vh);
    display: block;
  }

  .t2 h2 {
    transform: rotate(90deg) translateX(-140px) translateY(0vh);
  }

  .t3 h2 {
    transform: rotate(90deg) translateX(-380px) translateY(0vh);
  }

  .t4 h2 {
    transform: rotate(90deg) translateX(-400px) translateY(0vh);
  }

  .t5 h2 {
    transform: rotate(90deg) translateX(-420px) translateY(0vh);
  }

  .t6 h2 {
    transform: rotate(90deg) translateX(-195px) translateY(0vh);
  }

  .slower {
    transform: rotate(90deg) translateZ(0px) scale(1) translateX(0%)
      translateY(-22vh);
  }

  .slower1 {
    transform: rotate(90deg) translateZ(0px) scale(1) translateX(-10%)
      translateY(-22vh);
  }

  .slower2 {
    transform: rotate(90deg) translateZ(0px) scale(1) translateX(-10%)
      translateY(-22vh);
  }
  .slower3 {
    display: none;
  }

  .faster {
    transform: rotate(90deg) translateZ(0px) scale(1) translateX(-5%)
      translateY(-22vh);
  }

  .faster1 {
    transform: rotate(90deg) translateZ(0px) scale(1) translateX(0%)
      translateY(-22vh);
  }
  .faster2 {
    transform: rotate(90deg) translateZ(0px) scale(1) translateX(-20%)
      translateY(-22vh);
  }

  .faster3 {
    display: none;
  }
}
